body {
  background-color: #f9f9f9;
}
body header {
  background-color: #444;
  color: #FFF;
}
body .jumbotron.bg-home {
  background-image: url("https://placeimg.com/1000/480/tech/sepia");
  background-size: cover;
  margin-bottom: 0px;
}
body .main-content {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
body .latest-posts {
  top: -30px;
}
body .post-summary a {
  color: #000;
}
body .post-summary a:hover {
  text-decoration: none;
}
body .post-summary article {
  border: none;
  padding: 20px;
  background-color: #EEE;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
body .post-summary article:hover {
  background-color: #FFF;
  transition: 0.5s;
}
body .post-summary article .content {
  max-height: 100px;
}
body .post-summary article .date {
  font-size: 9px;
  color: #333;
}
body .blog-post {
  background-color: #FFF;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
body .blog-post h2 {
  border-bottom: 1px solid #f9f9f9;
}
body .blog-post .date {
  font-size: 10px;
  color: #333;
}
body .archive-list {
  list-style: none;
  padding: 0;
}
body .archive-list li {
  margin: 0;
}
body footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #777;
}
body .form-login {
  border: 1px solid #f9f9f9;
  margin: 20px;
}
